---
layout: default.html
title: My Rad Blog
heroData:
    headerClasses: "h1 wvu-bar"
    headline: "Power Up Your Home or Business with Rotruck Electric"
    lede: "From simple repairs to complete rewiring projects, Rotruck Electric has the skills and expertise to solve all your electrical needs with safety and efficiency."
---

{% for card in collections.card %}

{% endfor %}

<nav class="sticky-top">
  <a type="button" class="d-block text-center text-decoration-none sticky-top bg-white text-dark py-2 shadow" data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="fa-solid fa-sliders"></span> Filter Cards</a>
</nav>

<main class="py-5 bg-light">
  <div class="container">

    <h1 class="text-center">AG’s Cards</h1>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="options">
              <div class="option-set d-inline" data-group="sport">
                <button class="btn btn-outline-primary mb-1" data-filter=".baseball"><span class="fa-solid fa-baseball"></span> Baseball</button>
                <button class="btn btn-outline-primary mb-1" data-filter=".basketball"><span class="fa-solid fa-basketball"></span> Basketball</button>
                <button class="btn btn-outline-primary mb-1" data-filter=".football"><span class="fa-solid fa-football"></span> Football</button>
              </div>
              <div class="option-set d-inline" data-group="era">
                <button class="btn btn-outline-primary mb-1" data-filter=".modern">Modern</button>
                <button class="btn btn-outline-primary mb-1" data-filter=".vintage">Vintage</button>
              </div>
              <div class="option-set d-inline" data-group="player">
                <button class="btn btn-outline-primary mb-1" data-filter=".jordan">Michael Jordan</button>
              </div>
              <div class="option-set d-inline" data-group="holder">
                <button class="btn btn-outline-primary mb-1" data-filter=".raw">Raw</button>
                <button class="btn btn-outline-primary mb-1" data-filter=".slabbed">Slabbed</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
    
    <div class="row grid mt-4">
      {% assign sports = "baseball,basketball,football" | split: "," %}
      {%- for sport in sports -%}
        {%- for card in collections.orderedCards -%}
          {% assign cardSport = card.data.sport | downcase %}
          {%- capture url -%}
            {{ site.url }}/_cards/{{ card.data.title | replace: ' ', '-' | replace: '#', '' | downcase }}
          {%- endcapture -%}
          
          {%- capture classes -%}
            {% if card.data.lastName == 'Jordan' %}
              jordan
            {% endif %}
            {% if card.data.condition contains 'PSA' %}
              slabbed
            {% else %}
              raw
            {% endif %}
            {% if card.data.year < 1980 %}
              vintage
            {% else %}
              modern
            {% endif %}
            {{ card.data.sport | downcase }}
          {%- endcapture -%}

          {% if cardSport == sport %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 card-item {{ classes }} clearfix">
              <div class="h-100 position-relative d-flex flex-column justify-content-end px-3 px-sm-0">
                <div class="position-relative d-flex justify-content-end">
                  <span class="badge bg-danger position-absolute fs-5 shadow float-right mt-n2 me-1 align-self-end">${{ card.data.value }}</span>
                  <img loading="lazy" decoding="async" class="mb-2 rounded mw-100" src="{{ card.data.image }}" alt="{{ card.data.title }}">
                </div>
                <div class="">
                  <h2 class="h5 mb-1"><span class="h6"><span class="fa-solid fa-{{ sport }}"></span> {{ card.data.year }} {{ card.data.brand }}</span><br>{{ card.data.player }}</h2>
                  <p style="font-size: .6rem"><span class="d-inline-block px-1 border border-dark rounded">{{ card.data.condition }}</span>{% if card.data.isRookie == true %} <span class="d-inline-block px-1 border border-dark rounded"><span class="fa-solid fa-star"></span> RC</span>{% endif %}</p>
                </div>
              </div>
            </div>
          {% endif %}
        {%- endfor -%}
      {%- endfor -%}
    </div> 
  </div>
</main>