---
layout: default.html
title: My Rad Blog
heroData:
    headerClasses: "h1 wvu-bar"
    headline: "Power Up Your Home or Business with Rotruck Electric"
    lede: "From simple repairs to complete rewiring projects, Rotruck Electric has the skills and expertise to solve all your electrical needs with safety and efficiency."
---

{% for card in collections.card %}

{% endfor %}

<main class="py-5 bg-light">
  <div class="container">
    <h1>Cards</h1>
    <div class="row">
      {% assign sports = "baseball,basketball,football" | split: "," %}
      {%- for sport in sports -%}
        {%- for card in collections.card -%}
          {% assign cardSport = card.data.sport | downcase %}
          {%- capture url -%}
            {{ site.url }}/_cards/{{ card.data.title | replace: ' ', '-' | replace: '#', '' | downcase }}
          {%- endcapture -%}
          {% if card.data.year <= 1979 %}
            {% assign era = 'vintage' %}
          {% else %}
            {% assign era = 'modern' %}
          {% endif %}
          {% if cardSport == sport %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
              <div class="h-100 position-relative d-flex flex-column justify-content-end">
                <div style="overflow:hidden">
                  <img loading="lazy" decoding="async" class="mb-2 rounded{% if card.data.condition contains 'PSA' %} mt-n1{% endif %}" src="{{ card.data.image }}" alt="{{ card.data.title }}">
                </div>
                <div class="">
                  <h2 class="h5 mb-1"><span class="h6"><span class="fa-solid fa-{{ sport }}"></span> {{ card.data.year }} {{ card.data.brand }}</span><br>{{ card.data.player }} {% if card.data.number != null %}#{{ card.data.number }}{% endif %}</h2>
                  <p style="font-size: .6rem"><span class="d-inline-block px-1 border border-dark rounded">{{ card.data.condition }}</span></p>
                  <a class="stretched-link" href="{{ url }}"></a>
                </div>
              </div>
            </div>
          {% endif %}
        {%- endfor -%}
      {%- endfor -%}
    </div> 
  </div>
</main>