<nav class="navbar navbar-expand-lg navbar-light bg-yellow">
  <div class="container">
    <a class="navbar-brand helvetica-neue-bold" href="#">AG’s Cards</a>
    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"><span class="fa-solid fa-sliders"></span> Filter Cards</button>
  </div>
</nav>